@import '../../../scss/_theme';

.tracklist {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    .tracklist__track {
        list-style-type: none;
        padding: 5px 70px 5px 20px;
        border-bottom: 1px #ddd solid;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        transition: background-color 0.2s;
        
        &.tracklist__track--playing {
            background-color: $color-pink;
            color: #fff;
            .tracklist__track-album, .tracklist__duration{
                color: #ccc;
            }
        }
    }
    .tracklist__track-album {
        color: #777;
    }
    .tracklist__duration {
        position: absolute;
        right: 10px;
        color: #777;
        font-style: italic;
    }
}